###############################################################################
# AUTHELIA USERS DATABASE (FILE BACKEND)
# Passwords are pre-hashed using Authelia CLI (argon2id)
###############################################################################

users:
{% for username, password_hash in authelia_users.items() %}
  {{ username }}:
    displayname: "{{ username }}"
    password: "{{ password_hash }}"
    email: "{{ username }}@{{ domain_name }}"
    groups:
      - users
{% endfor %}
