---
- name: Deploy Edge Gateway
  hosts: edge_gateway_servers
  become: true

  roles:
    - role: edge_gateway
      vars:
        edge_gateway_email: rwabig1@gmail.com
        edge_gateway_domains:
          - vscode.unifypesacard.shop
          - cgs.unifypesacard.shop
